$mainColor: #3C0000;
$secondColor: #89450E;
$lightBackgroundColor: #EDEDED;
$componentBackground: #C6C6C6;
$textColor: #36312E;
$whiteColor: #ffffff;
$titleFont: "BioRhyme", serif;
$contentFont: "Archivo", sans-serif;

@mixin h1 {
    font-family: $titleFont;
    color: $mainColor;
    font-size: 5.34vw;
    text-transform: uppercase;
    text-align: center;
}

@mixin h2($nameColor) {
    font-family: $contentFont;
    color: $nameColor;
    font-weight: 700;
    font-size: 4.369vw;
}

@mixin importantText {
    font-family: $contentFont;
    color: $textColor;
    font-weight: 700;
    font-size: 2.913vw;
    text-align: center;
}

@mixin contentText {
    font-family: $contentFont;
    color: $textColor;
    font-weight: 500;
    font-size: 2.549vw;
    text-align: center;
}

@mixin priceText {
    font-family: $contentFont;
    color: $secondColor;
    font-weight: 800;
    font-size: 3.641vw;
    text-align: center;
}

@mixin categoriesButton($buttonColor, $nameColor, $fontWeight) {
    font-family: $contentFont;
    color: $nameColor;
    font-weight: $fontWeight;
    font-size: 2.791vw;
    background-color: $buttonColor;
    text-align: center;
    padding: 1.942vw 2.427vw;
    border-radius: 3.883vw;
    text-decoration: none;
}

@mixin descriptionButton {
    font-family: $contentFont;
    color: $textColor;
    font-weight: 700;
    font-size: 2.427vw;
    background-color: $whiteColor;
    text-align: center;
    padding: 1vw 2.5vw;
    border: 0.243vw solid $textColor;
    border-radius: 3.641vw;
    display: flex;
    flex-direction: row;
    gap: 1.214vw;
}

@mixin hoverButton {
    box-shadow: inset -3vw 3vw 3vw -3vw rgba(32, 21, 21, 0.55);
}

@mixin desktops {
    @media screen and (min-width: 701px) { @content; }
}

@mixin phones {
    @media screen and (max-width: 700px) { @content; }
}

body {
    box-sizing: border-box;
    width: 100%;
    background: $lightBackgroundColor;
}

header {
    width: 100%;
    box-sizing: border-box;

    @include desktops {
        display: none;
    }

    .header-box {
        width: 100%;
        position: relative;
        background: $mainColor;
        box-shadow: 0.485vw 0.728vw 2.427vw 0.485vw rgba(119, 119, 119, 0.93);
        box-sizing: border-box;

        .header-box_texture {
            box-sizing: border-box;
            width: 100%;
            opacity: 10%;
        }

        .header-box_logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); // mueve el elemento hacia arriba y hacia la izquierda, compensando su propio tamaño para que se centre perfectamente.
            width: 51.075vw;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .desktop-view {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vw;

        @include phones {
            display: none;
        }

        .desktop-view_logo {
            width: clamp(6rem, 50vh, 60rem);
        }

        .desktop-view_movil-instruction {
            font-family: $contentFont;
            color: $textColor;
            font-weight: 700;
            font-size: clamp(1rem, 1.2vw, 1.3rem);
        }

        .desktop-view_qr-movil-link {
            div {
                width: clamp(6rem, 10vw, 12rem);
                height: clamp(6rem, 10vw, 12rem);
            }
        }
    }

    .main_categories-menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktops {
            display: none;
        }

        .main_categories-menu_title {
            @include h1;
            margin-top: 9.709vw;
            margin-bottom: 6.068vw;
        }

        .main_categories-menu-content {
            width: 87.621vw;
    
            .main_categories-menu-content_instruction {
                @include importantText;
                margin-bottom: 3.641vw;
            }
    
            .main_categories-menu-content_buttons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1.942vw;
                padding-bottom: 6.068vw;
                border-bottom: 0.243vw solid $componentBackground;
    
                .categories-menu-button {
                    @include categoriesButton($componentBackground, $textColor, 700);
    
                    &.hover {
                        @include hoverButton;
                    }
                }
    
                .menu-button__selected {
                    @include categoriesButton($mainColor, $whiteColor, 500);
    
                    &.hover {
                        @include hoverButton;
                    }
                }
            }
        }
    }

    .main_dishes {
        width: 87.621vw;
        margin-bottom: 9.709vw;

        @include desktops {
            display: none;
        }

        .main_dishes_title {
            @include h2($mainColor);
            margin-top: 8.495vw;
            margin-bottom: 4.854vw;
        }

        .main_dishes_content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            gap: 6.068vw;

            .dish-card {
                padding: 3.155vw;
                background: $whiteColor;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.942vw;
                border-radius: 4.369vw;
                box-shadow: 0.485vw 0.728vw 1.723vw 0 rgba(112, 112, 112, 0.30);

                .dish-card_photo {
                    width: 34vw;
                    border-radius: 2.427vw;
                }

                .dish-card_name {
                    width: 34vw;
                    @include importantText;
                }

                .dish-card_price {
                    width: 34vw;
                    @include priceText;
                }

                .dish-card_description {
                    width: 34vw;
                    @include contentText;
                    height: 0; // Empieza cerrada
                    overflow: hidden; // Evita que el contenido desborde
                    transition: height 0.4s ease-in-out; // Transición para abrir/cerrar

                    &.view-description {
                        height: auto; // Al agregar la clase se ajusta la altura del contenido
                    }
                }

                .dish-card_description-button {
                    @include descriptionButton;
                }

                .to-open {
                    display: block;

                    &.view-description {
                        display: none;
                    }

                    &.hover {
                        @include hoverButton;
                    }
                }

                .to-close {
                    display: none;

                    &.view-description {
                        display: flex;
                    }

                    &.hover {
                        @include hoverButton;
                    }
                }
            }
        }
    }
}

footer {
    @include desktops {
        display: none;
    }

    .footer-box {
        background: $componentBackground;
        padding: 9.709vw 24.272vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-box_logo {
            margin-bottom: 8.495vw;
        }

        .footer-box_social-media {
            display: flex;
            flex-direction: row;
            gap: 2.427vw;
            margin-bottom: 2.913vw;
        }

        .footer-box_contact-info {
            .contact-info_title {
                @include importantText;
                margin-bottom: 1.214vw;
            }

            .contact-info_phone-number {
                @include h2($textColor);
                text-align: center;
            }
        }
    }
}